{% extends 'base.html.twig' %}


{% block title %}
    Ajouter une question
{% endblock %}
{% block body %}
    <form class="form-inline my-2 my-lg-0">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
</form>
{% endblock %}