{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block body %}
	<h1> Nom de la categorie : {{ categorie.name }} </h1>
	<p>
		Categorie numero : {{ categorie.id }}
	</p>
	<hr>
{% endblock %}
