{% extends 'base.html.twig' %}
{% block body %}
	<h1> Nom de la question : {{ question.question }} </h1>
	<p>
		Question numero : {{ question.id }}
	</p>
	<hr>
	<a href="/question">
		Retour
	</a>
{% endblock %}
