{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Vous devez confirmer votre compter !</h4>
  <p class="mb-0">Verifier votre boite mail.</a>.</p>
</div>

{% endblock %}

